altgraph==0.17
astroid==2.4.2
autopep8==1.5.4
certifi==2020.11.8
chardet==3.0.4
colorama==0.4.4
cycler==0.10.0
flake8==3.8.4
future==0.18.2
gps==3.19
idna==2.10
isort==5.6.4
jedi==0.17.2
kiwisolver==1.3.1
lazy-object-proxy==1.4.3
maidenhead==1.5.0
matplotlib==3.3.3
mccabe==0.6.1
numpy==1.19.4
parso==0.7.1
pefile==2019.4.18
Pillow==8.1.1
pluggy==0.13.1
pycodestyle==2.6.0
pydocstyle==5.1.1
pyflakes==2.2.0
pyinstaller==4.0
pyinstaller-hooks-contrib==2020.10
pylint==2.6.0
pyparsing==2.4.7
pyserial==3.4
python-dateutil==2.8.1
python-jsonrpc-server==0.4.0
python-language-server==0.36.1
pywin32==300
pywin32-ctypes==0.2.0
requests==2.25.0
rope==0.18.0
shiboken2==5.15.1
six==1.15.0
snowballstemmer==2.0.0
toml==0.10.2
ujson==4.0.1
urllib3==1.26.2
wrapt==1.12.1
xmltodict==0.12.0
yapf==0.30.0
